{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "subscriptionId": "7fd08dcc-a653-4b0f-8f8c-4dac889fdda4",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Code generate Test and Infra",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourcegroups/testRG-6459?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/testRG-6459",
        "name": "testRG-6459",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/testRG-6459/providers/Microsoft.Resources/deployments/Generate_Unique_Name?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "metadata": {},
            "parameters": {
              "location": {
                "type": "string",
                "defaultValue": "[resourceGroup().location]",
                "metadata": {
                  "description": "Location for all resources."
                }
              },
              "vmName": {
                "type": "string",
                "defaultValue": "simple-vm",
                "metadata": {
                  "description": "Name of the virtual machine."
                }
              }
            },
            "variables": {
              "storageAccountName": "[format(\u0027bootdiags{0}\u0027, uniqueString(resourceGroup().id))]",
              "nicName": "myVMNic",
              "addressPrefix": "10.0.0.0/16",
              "subnetName": "Subnet",
              "subnetPrefix": "10.0.2.0/24",
              "virtualNetworkName": "MyVNET"
            },
            "resources": [
              {
                "type": "Microsoft.Network/virtualNetworks",
                "apiVersion": "2021-02-01",
                "name": "[variables(\u0027virtualNetworkName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "[variables(\u0027addressPrefix\u0027)]"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[variables(\u0027subnetName\u0027)]",
                      "properties": {
                        "addressPrefix": "[variables(\u0027subnetPrefix\u0027)]"
                      }
                    }
                  ]
                },
                "dependsOn": []
              },
              {
                "type": "Microsoft.Network/networkInterfaces",
                "apiVersion": "2021-02-01",
                "name": "[variables(\u0027nicName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipconfig1",
                      "properties": {
                        "subnet": {
                          "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, variables(\u0027virtualNetworkName\u0027), variables(\u0027subnetName\u0027))]"
                        }
                      }
                    }
                  ]
                },
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, variables(\u0027virtualNetworkName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Compute/virtualMachines",
                "apiVersion": "2021-07-01",
                "name": "[parameters(\u0027vmName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "hardwareProfile": {
                    "vmSize": "Standard_F2"
                  },
                  "osProfile": {
                    "computerName": "[parameters(\u0027vmName\u0027)]",
                    "adminUsername": "adminuser",
                    "linuxConfiguration": {
                      "disablePasswordAuthentication": true,
                      "ssh": {
                        "publicKeys": [
                          {
                            "path": "/home/adminuser/.ssh/authorized_keys",
                            "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                          }
                        ]
                      }
                    }
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "Canonical",
                      "offer": "UbuntuServer",
                      "sku": "16.04-LTS",
                      "version": "latest"
                    },
                    "osDisk": {
                      "osType": "Linux",
                      "caching": "ReadWrite",
                      "createOption": "FromImage",
                      "managedDisk": {
                        "storageAccountType": "Standard_LRS"
                      }
                    }
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, variables(\u0027nicName\u0027))]",
                        "properties": {
                          "primary": true
                        }
                      }
                    ]
                  }
                },
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, variables(\u0027nicName\u0027))]"
                ]
              }
            ],
            "outputs": {}
          },
          "mode": "Complete"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourcegroups/testRG-6459/providers/Microsoft.Resources/deployments/Generate_Unique_Name/operationStatuses/08585517724628251910?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/testRG-6459/providers/Microsoft.Resources/deployments/Generate_Unique_Name",
        "name": "Generate_Unique_Name",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "3597366477347639192",
          "parameters": {
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "vmName": {
              "type": "String",
              "value": "simple-vm"
            }
          },
          "mode": "Complete",
          "provisioningState": "Accepted",
          "timestamp": "2022-04-13T07:20:26.2718974Z",
          "duration": "PT0.0004821S",
          "correlationId": "939576cc-bc79-4426-8a5e-9144db46d540",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "westus2"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "westus2"
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Compute",
              "resourceTypes": [
                {
                  "resourceType": "virtualMachines",
                  "locations": [
                    "westus2"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/testRG-6459/providers/Microsoft.Network/virtualNetworks/MyVNET",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "MyVNET"
                }
              ],
              "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/testRG-6459/providers/Microsoft.Network/networkInterfaces/myVMNic",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "myVMNic"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/testRG-6459/providers/Microsoft.Network/networkInterfaces/myVMNic",
                  "resourceType": "Microsoft.Network/networkInterfaces",
                  "resourceName": "myVMNic"
                }
              ],
              "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/testRG-6459/providers/Microsoft.Compute/virtualMachines/simple-vm",
              "resourceType": "Microsoft.Compute/virtualMachines",
              "resourceName": "simple-vm"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourcegroups/testRG-6459/providers/Microsoft.Resources/deployments/Generate_Unique_Name/operationStatuses/08585517724628251910?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
